export(namegender)
export(ng_name)
export(ng_email)
export(ng_username)
export(ng_bulk)
export(ng_countries)
export(ng_salutation)
export(ng_salutation_bulk)
export(ng_batch_create)
export(ng_batch_start)
export(ng_batch_get)
export(ng_batch_list)
export(ng_batch_cancel)
export(ng_batch_wait)
export(ng_batch_download)
export(ng_webhook_verify)
importFrom(jsonlite,fromJSON)
